<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Gestion des contacts </title>
        <script src="jquery.js" > </script>
        <script src="Process.js"> </script>
    </head>
<body>
    <script type="text/javascript">
        function OnSubmitForm()
        {
            document.myform.action ="/addContact";
            // Trigger the validations
            return document.myform.runvalidation();
        }
        </script>         
	<form name = "Add"  class = "">
		<div id = "User">
            Add Contact
        </div>
		<input type= "text" id = "txtId" placeHolder = "id" autocomplete = "off"></input>
		<input type= "text" id = "txtName" placeHolder = "name" autocomplete = "off"></input>
		<input type= "button" id = "btnAdd" value = "Add Contact" ></input>
    </form>
    <form name = "Modify_delete"  class = "">
            <div id = "User">
                Modify and Delete
            </div>
            <select id = "cbListContact"></select>
            <input type = "text" id = "txtNameOfID" autocomplete = "off"></input>
            <input type = "button" id = "btnModify" value = "Modify" ></input>
            <input type = "button" id = "btnDelete" value = "Delete" ></input>    
    </form>
    <form>
        <input type= "button" id = "btnLister" value = "Open Contacts List" ></input>
        <input type= "button" id = "btnHide" value = "Close Contacts List" ></input>
        <div id = "listContacts"></div>
    </form>
</body>
</html>
